<!DOCTYPE html>
<html>
  <head>
    <title>TimeClock</title>
    <meta charset="utf-8" />
    <meta name="description" content="The Web-Based Timeclock and
                                      recording time log for you the
                                      worker" />
    <meta name="keywords" content="Timeclock,Timelog,employee,worker" />

    <% if (is_desktop) { %>
      <link rel="stylesheet"
            href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/soria/soria.css"
            media="screen" />
    <% } else { %>
      <meta name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta http-equiv="cache-control" content="no-cache">
      <meta http-equiv="pragma" content="no-cache">
    <% } %>

    <link rel="stylesheet" href="css/app.css" type="text/css" />
  </head>

  <body <% if (is_desktop) { %>class="soria"<% } %> >
    <div id="loadingOverlay" class="loadingOverlay pageOverlay">
	  <div class="loadingMessage">Loading...</div>
    </div>

    <script>
     var dojoConfig = {
       async: true,
       packages: [{
         name: 'timeclock',
         location: location.pathname.replace(/\/[^/]*$/, '')
                 + '/js/org/kandj/timeclock'
       }, {
         name: 'dojokj',
         location: location.pathname.replace(/\/[^/]*$/, '')
                 + '/js/org/kandj/dojokj'
       }]
     };
    </script>

    <% if (!is_desktop) { %>
      <script
          src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojox/mobile/deviceTheme.js">
      </script>
    <% } %>
    <script
        src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js">
    </script>
    <script>
     require([
       <% if (is_desktop) { %>
       'timeclock/desktop',
       <% } else { %>
       'timeclock/mobile',
       <% } %>
       'dojo/dom-style',
       'dojo/_base/fx',
       'dojo/dom',
       'dojo/domReady!'
     ], function(main, domStyle, fx, dom) {
       main.startup();

	   // fade the overlay gracefully
	   fx.fadeOut({
		 node: dom.byId('loadingOverlay'),
		 onEnd: function(node){
		   domStyle.set(node, 'display', 'none');
		 }
	   }).play();
     });
    </script>
  </body>
</html>
