<!DOCTYPE html>
<html>
  <body>
    <script>
     var dojoConfig = {
       async: true,
       packages: [{
         name: 'timeclock',
         location: '/js/org/kandj/timeclock'
       }]
     };
    </script>
    <script
        src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js">
    </script>
    <script>
     require([
       'timeclock/token',
       'dojo/domReady!'
     ], function(token) {
       token.set('<%= token_ %>').then(function() {
         window.location.href = '/';
       });
     });
    </script>
  </body>
</html>
