html, body {
   height : 100%;
   width : 100%;
   margin: 0;
   padding: 0;
}

.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}

#loadingOverlay {
    background:  #fff url('//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;
}

.loadingMessage {
    padding: 25px 40px;
    color: #999;
}

/* Override soria.css */
.soria .dijitDialogPaneActionBar {
  
  background-color: #efefef;
  padding: 3px 5px 2px 7px;
  text-align: right;
  border-top: 1px solid #d3d3d3;
}
.soria .dijitDialogPaneContent .dijitDialogPaneActionBar {
  margin: 10px -8px -10px;
}
.soria .dijitTooltipDialog .dijitDialogPaneActionBar {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  margin: 10px -10px -8px;
}
.soria .dijitDialogPaneActionBar .dijitButton {
  float: none;
}

.tabLabel {
    font-size: small;
    font-weight: bold;
}

.soria .dijitTab {
    padding-top: 1px;
}

.tcRed
{
   color: red;
}

.tcBlack
{
   color: black;
}


.tcUserSilhouetteIcon
{
   background-image: url("../images/user-silhouette.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUsersIcon
{
   background-image: url("../images/users.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserUnknownIcon
{
   background-image: url("../images/user-silhouette-question.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserIcon
{
   background-image: url("../images/user.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserBlackIcon
{
   background-image: url("../images/user-black.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserBlackFemaleIcon
{
   background-image: url("../images/user-black-female.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserBusinessIcon
{
   background-image: url("../images/user-business.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserBusinessBossIcon
{
   background-image: url("../images/user-business-boss.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserFemaleIcon
{
   background-image: url("../images/user-female.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserGreenIcon
{
   background-image: url("../images/user-green.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserGreenFemaleIcon
{
   background-image: url("../images/user-green-female.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserNudeIcon
{
   background-image: url("../images/user-nude.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserNudeFemaleIcon
{
   background-image: url("../images/user-nude-female.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserOrangeIcon
{
   background-image: url("../images/user-orange.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserOrangeFemaleIcon
{
   background-image: url("../images/user-orange-female.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserThiefIcon
{
   background-image: url("../images/user-thief.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserThiefBaldieIcon
{
   background-image: url("../images/user-thief-baldie.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserWhiteIcon
{
   background-image: url("../images/user-white.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcUserWhiteFemaleIcon
{
   background-image: url("../images/user-white-female.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcInfoIcon
{
   background-image: url("../images/information-frame.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcCheckIcon
{
   background-image: url("../images/tick.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcDeleteIcon
{
   background-image: url("../images/eraser--arrow.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcTableIcon
{
   background-image: url("../images/table.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcTableInsertIcon
{
   background-image: url("../images/table-insert-row.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcTableDeleteIcon
{
   background-image: url("../images/table-delete-row.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcExclamationIcon
{
   background-image: url("../images/exclamation.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcPdfIcon
{
   background-image: url("../images/document-pdf.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcCsvIcon
{
   background-image: url("../images/document-excel-csv.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcKeyEditIcon
{
   background-image: url("../images/key--pencil.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcSaveIcon
{
   background-image: url("../images/disk.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcTableImportIcon
{
   background-image: url("../images/table-import.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcThumbIcon
{
   background-image: url("../images/thumb.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcControlPowerIcon
{
   background-image: url("../images/control-power.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}

.tcClockIcon
{
   background-image: url("../images/clock.png");
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 16px;
}
